
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  text-align: center;
  background-color: white;
}

button:hover {
  color: white;
  background-color: black;
}

header{
  background:black;
}

.project{
  border-style: solid;
  border-color: black;
  border: 0.1em solid black;
  margin: auto;
  width: max-content;
}

footer{
  position: absolute;
  bottom: 0;
  background:red;
  width:100%;
  

}
