@font-face {
  font-family: IBMVGA8;
  src: url(/font/IBMVGA8.ttf);
}



body{
  margin: 1em;
  border: 0.2em solid black;
  box-sizing: content-box;
  /* display: flex; */
  /* flex-wrap: wrap; */
  height:calc(100vh - 2.4em);
  /* flex-direction: column; */
  font-family: IBMVGA8,monospace;

}

header{
  height:3em;
  border-bottom: 0.2em solid black;
  /* display:inline-block; */
  width:100%;
}

main{
  display:flex;
  flex-direction:row;
  height:calc(100vh - 5.4em);
  margin:0px;

}


nav{
  display:flex;
  flex-direction: column;
  min-width:13em;
  border-right: 0.2em solid black;
  height:inherit;

  margin:0px;
}

.btn-txt{
  width:100%;
  display: inline-block;
}

.btn-txtB{
  text-align: right;
}

.skillButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0px;
  border-bottom: 0.2em solid black;
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.2s;
  /* text-align: left; */
  background-color: white;
}

button:hover {
  color: white;
  background-color: black;
}


.projects-container{
  height:inherit;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  overflow-y: auto;
  overflow-x:hidden;
  align-content: flex-start;
  margin:0px;
  padding:1em;

}


.project{
  float:left;
  margin: 1em;
  border: 0.2em solid black;
  /* display: inline-block; */
  text-align:left;
  height:250px;
  min-width:300px;
  max-width:500px
}



.project-img{
  height: 300px;
  width:auto;
  position:absolute;
}
